<div id="header">
    <h1>KYS!!!! (Know Your SSN)</h1>
    <h4>(and give it to me)</h4>

</div>

<div id="search_bar">
    <form>
        <input type="text" id="searchbar" name="search" placeholder="What would you like to search for...">
        <input type="submit" id="enter_search" name="enter_search" value="Enter">
    </form>

    <form>
        <input type="radio">
    </form>
</div>

<style>
    #header {
        width: 100%;
        font-family: Papyrus;
    }

    #search_bar {
        width: 100%;
    }
</style>