<div id="header">
    <h1>KYS!!!! (Know Your SSN)</h1>
    <h4>(and give it to me)</h4>

</div>

<div id="search_bar">
    <form>
        <input type="text" id="searchbar" name="search" placeholder="What would you like to search for...">
        <input type="submit" id="enter_search" name="enter_search" value="Enter">
    </form>

    <form>
        <input type="checkbox" id="gluten_free" name="diet" value="HTML">
        </label for="gluten_free">Gluten Free</label><br>
        <input type="checkbox" id="keto" name="diet" value="HTML">
        </label for="keto">Ketogenic</label><br>
        <input type="checkbox" id="vegetarian" name="diet" value="HTML">
        </label for="vegetarian">Vegetarian</label><br>
        <input type="checkbox" id="vegan" name="diet" value="HTML">
        </label for="vegan">Vegan</label><br>
        <input type="checkbox" id="pescetarian" name="diet" value="HTML">
        </label for="pescetarian">Pescetarian</label><br>
    </form>
</div>

<style>
    #header {
        width: 100%;
        font-family: Papyrus;
    }

    #search_bar {
        width: 100%;
    }
</style>