<!doctype html>
<html lang="en-US">
    <body>
<!-- Our page's main content -->
        <main>
        <!-- An article -->
        <article>
            <h2>{% block article_h %}Article Header{% endblock %}</h2>

            <p> 
                {% block article_c %}
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Donec a diam
                lectus. Set sit amet ipsum mauris. Maecenas congue ligula as quam
                viverra nec consectetur ant hendrerit. Donec et mollis dolor. Praesent
                et diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt
                congue enim, ut porta lorem lacinia consectetur.
                {% endblock %}
            </p>

            <section>
                <h3>{% block article2_h %}Article 2 Header{% endblock %}</h3>

                <p>
                    {% block article2_c %}
                    Donec ut librero sed accu vehicula ultricies a non tortor. Lorem
                    ipsum dolor sit amet, consectetur adipisicing elit. Aenean ut
                    gravida lorem. Ut turpis felis, pulvinar a semper sed, adipiscing id
                    dolor.
                    {% endblock %}
                </p>
            </section>

            <section>
                <h3>{% block article3_h %}Article 3 Header{% endblock %}</h3>

                <p>
                    {% block article3_c %}
                    Donec ut librero sed accu vehicula ultricies a non tortor. Lorem
                    ipsum dolor sit amet, consectetur adipisicing elit. Aenean ut
                    gravida lorem. Ut turpis felis, pulvinar a semper sed, adipiscing id
                    dolor.
                    {% endblock %}
                </p>
            </section>
        </article>
    </main>
  </body>
</html>